$white: #fff;
$grey: rgb(23, 23, 23);
$black: rgb(23, 23, 23);
$violet: rgb(156, 39, 176);
$blue: #1DA1F2;
$liteGrey: #8C8C8C;

@mixin for-extra-small-up {
  @media (min-width: 320px) { @content; }
}
@mixin for-small-up {
  @media (min-width: 396px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 576px) { @content; }
}

@mixin for-medium-up {
  @media (min-width: 768px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 992px) { @content; }
}

@mixin for-large-desktops-up {
  @media (min-width: 1140px) { @content; }
}

@mixin flex($content, $items) {
  display: flex;
  justify-content: $content;
  align-items: $items;
}